@font-face {
  font-family: "vazir";
  src: url("../../assets/fonts/Vazir-Thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "vazir";
  src: url("../../assets/fonts/Vazir-Light.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "vazir";
  src: url("../../assets/fonts/Vazir-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "vazir";
  src: url("../../assets/fonts/Vazir-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}